@font-face {
    font-family: mathline;
    src: url('Mathline.ttf');
}
@font-face {
    font-family: harilly;
    src: url('Harilly\ Aleya.ttf');
}
@font-face {
    font-family: avenger;
    src: url('AvengeroRegular-zvgl.ttf');
}
body{
    margin:0;
    padding: 0;
    background-color:rgb(132, 189, 178);
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}
header{
    position: relative;
    width: 100%;
    height: 80px;
}
.headcontainer{
    margin: auto;
    width: 100%;
    height: 100%;
    display: inline;
}

.logo{
    position: relative;
    font-family:mathline;
    color: rgb(32, 120, 104);
    text-align: center;
    float: left;
    font-size: 1.8em;
    font-weight: bold;
    position: relative;
    height: 100%;
    width: 20%;
}
.logoname{
    position: absolute;
    top: 23px;
}
.bckcontainer{
    position: relative;
    height: 620px;
    width: 100%;
}
.bckimg1{
    
    width: 100%;
    height: 100%;
    /* background: url(https://im1.dineout.co.in/images/uploads/restaurant/sharpen/1/s/s/p104487-164732083062301efee1942.jpg?tr=tr:n-large); */
    background-size: 125% 100%;
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0, 0, 0, 0.6)),url("https://im1.dineout.co.in/images/uploads/restaurant/sharpen/1/s/s/p104487-164732083062301efee1942.jpg?tr=tr:n-large");
    border-top: 10px solid white;
    background-position: left;
    animation: bck infinite 10s;
    border-bottom: 10px solid white;
    text-align: center;
}

@keyframes bck{
    0%{
        background-position: left;
    }
    50%{
        background-position: right;
    }
    100%{
        background-position: left;
    }
}


/* .banner{
    width: 100%;
    height: 100%;
    background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0, 0, 0, 0.7)),url("https://im1.dineout.co.in/images/uploads/restaurant/sharpen/1/s/s/p104487-164732083062301efee1942.jpg?tr=tr:n-large");
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
} */

h1{
     color: rgb(243, 211, 49);
     align-items: margin;
}

p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 27px;
    font-weight: lighter;
    color: rgba(240, 214, 227, 0.914);
    font-size:25px ;
    font-style:oblique;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-seri
}
.links{
    position:absolute;
    top: 80%;
    left:10%;
    display:flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items:center;
}
.links h3{
    color:rgba(227, 21, 34, 0.883)


    /* font-size: 15px; */
    /* margin-right: 50px; */
    /* padding:7px 6px; */
}

    




























































